body{font-family: sans-serif;

    background-color:cadetblue;
}
h1 {
    color: blueviolet;
    font-size: 50px;
}
h2 {
    color: hotpink;
}
p{
    color: greenyellow;
    margin-left: 20px;
}
.stilig{
    background-color: red;
    color: black;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius:  8px;
    border-style: outset;
    border-color: red;
    
}
.stilig:hover{background-color: aqua;
border-color: aqua;
}